In [55]:
import pandas as pd
import numpy.random as random

In [47]:
from faker import Faker 
from faker.providers import person

In [72]:
ids = []
names = []
genders = []
aids = []
sats = []
deg_comps = []
ethnicities = []
universities = []
for i in range(1,200001):
    gender = fake.random_element(elements=('Male', 'Female'))
    if gender == 'Male':
        name = fake.name_male()
    else:
        name = fake.name_female()
    names.append(name)
    genders.append(gender)
    prob = random.uniform(0,1)
    if prob < 0.25:
        aid = 0
    elif prob>=0.25 and prob <=0.66:
        aid = random.randint(3000, 12000)
    else:
        aid = random.randint(12000,22000)
    aids.append(aid)
    prob = random.uniform(0,1)
    if prob < 0.33:
        sat = random.randint(400,800)
    elif prob >= 0.33 and prob < 0.66:
        sat = random.randint(800,1200)
    else:
        sat = random.randint(1200,1600)
    sats.append(sat)
    prob = random.uniform(0,1)
    if prob < 0.4:
        deg_comp = 4
    elif prob >= 0.4 and prob < 0.80:
        deg_comp = random.randint(4,5)
    else:
        deg_comp = random.randint(5,7)
    deg_comps.append(deg_comp)
    prob = random.uniform(0,1)
    if prob <0.35:
        ethnicity = 1
    elif prob >= 0.35 and prob < 0.6:
        ethnicity = 2
    else:
        ethnicity = random.randint(3,7)
    university = random.randint(1,3705)
    ethnicities.append(ethnicity)
    universities.append(university)
    ids.append(i)
    #print(f"Name: {name}, Gender: {gender}")
'''
display(names)
print(genders)
print(aids)
print(sats)
print(deg_comps)
print(ethnicities)
print(universities)
'''
StudentDetails = pd.DataFrame(list(zip(ids,names, genders, aids, sats, deg_comps, ethnicities, universities)),
               columns =['Student_id','Student_name', 'Gender','AidGiven','Satscore','DegCompletionTime','Ethnicity','University'])

In [73]:
display(StudentDetails)

,Student_id,Student_name,Gender,AidGiven,Satscore,DegCompletionTime,Ethnicity,University
0,1,Jennifer Carr,Female,0,632,4,1,2652
1,2,Savannah Jenkins,Female,11277,1494,5,5,2433
2,3,Alexander Yang,Male,11931,1009,6,3,2060
3,4,Jamie Thornton,Female,18913,1568,6,5,2842
4,5,Jose Hayes,Male,5225,973,5,1,2184
...,...,...,...,...,...,...,...,...
199995,199996,Erica Olson,Female,13618,1055,4,1,1173
199996,199997,Emily Bennett,Female,0,515,4,1,692
199997,199998,Marvin Duffy,Male,19836,732,4,1,1443
199998,199999,Kayla Rodgers,Female,0,1344,6,3,289
199999,200000,Matthew Black,Male,8402,976,4,1,1499

In [74]:
StudentDetails.to_excel(r'StudentDetails.xlsx', index=False)

In [83]:
fac_ids = []
universities = []
names = []
genders = []
ethnicities = []
for i in range(1,20001):
    fac_id = i
    fac_ids.append(i)
    university = random.randint(1,3705)
    universities.append(university)
    gender = fake.random_element(elements=('Male', 'Female'))
    if gender == 'Male':
        name = fake.name_male()
    else:
        name = fake.name_female()
    names.append(name)
    genders.append(gender)
    prob = random.uniform(0,1)
    if prob < 0.3:
        ethnicity = 1
    elif prob>=0.3 and prob < 0.5:
        ethnicity = 2
    else:
        ethnicity = random.randint(3,7)
    ethnicities.append(ethnicity)
FacultyDetails = pd.DataFrame(list(zip(fac_ids,universities,names, genders, ethnicities)),
               columns =['Faculty_id','University_id' ,'Faculty_Name','Gender','Ethnicity'])

In [84]:
display(FacultyDetails)

       Faculty_id  University_id     Faculty_Name  Gender  Ethnicity
0               1           2911     Eric Schmidt    Male          1
1               2            314       Scott Cole    Male          4
2               3           2596  Jennifer Guerra  Female          1
3               4           3312     Sean Fuentes    Male          1
4               5           3222    Carlos Kelley    Male          4
...           ...            ...              ...     ...        ...
19995       19996           2337    Paul Martinez    Male          1
19996       19997             98    Brandon Combs    Male          3
19997       19998           1038     Mario Thomas    Male          2
19998       19999            648     Alyssa Quinn  Female          6
19999       20000           3467      Cindy Smith  Female          5

[20000 rows x 5 columns]

In [85]:
FacultyDetails.to_excel(r'FacultyDetails.xlsx', index=False)